absl-py==1.2.0
astor==0.8.1
beautifulsoup4==4.11.1
bs4==0.0.1
cached-property==1.5.2
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
ConcurrentLogHandler==0.9.1
cryptography==37.0.4
Cython==0.29.32
dataclasses==0.8
filelock==3.4.1
gast==0.5.3
grpcio==1.47.0
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lxml==4.9.1
Markdown==3.3.7
mock==4.0.3
nltk==3.6.7
numpy==1.19.5
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.4
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
regex==2022.8.17
requests==2.27.1
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.5.4
selectolax==0.3.8
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
soupsieve==2.3.2.post1
tabulate==0.8.10
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.9.1
torchvision==0.10.1
tornado==5.1.1
tqdm==4.64.0
transformers==4.18.0
typing_extensions==4.1.1
urllib3==1.26.12
Werkzeug==2.0.3
yacs==0.1.8
zipp==3.6.0
